

<h3>Who would you like to share your card with?</h3>
<%= @card.id %>
<%= @user.id %>

<ul>
	<% @users.each do |user| %>
		<%= link_to "#{user.first} #{user.last}", share_path(user_id: user.id, card_id: @card.id), method: :post, remote: true %>
		<br>
		<div id="share_message"><div>
	<% end %>
	<br>
</ul>

<%= link_to "BACK", @user %>